body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url('bg.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}


.topleft {
    position: absolute;
    top: 16px;
    left: 16px;
}

.topright {
    position: absolute;
    top: 16px;
    right: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-style: italic;
    font-size: 60%;
    font-weight: bold;
}
    .bottomleft a:hover {
        color: #f50856
    }

    .bottomleft a {
        font-size: 1.125rem;
        color: #fff;
        text-decoration: none;
        text-decoration-line: none
    }

.bottomright {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-style: italic;
    font-size: 60%;
    font-weight: bold;
}


    .bottomright a:hover {
        color: #f50856
    }

    .bottomright a {
        font-size: 1.125rem;
        color: #fff;
        text-decoration: none;
        text-decoration-line: none
    }



.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}